<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247872328278-4cmdogko3mjqdrc05l7p6e1ccfh8ogcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247872328278-4cmdogko3mjqdrc05l7p6e1ccfh8ogcv</string>
	<key>API_KEY</key>
	<string>AIzaSyAgUUwIOmRQ3a7iSEPKwEgH63EGbketVMo</string>
	<key>GCM_SENDER_ID</key>
	<string>247872328278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokedexMain.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>epn-movil</string>
	<key>STORAGE_BUCKET</key>
	<string>epn-movil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247872328278:ios:35a1d07e2396b8ed3de1f7</string>
</dict>
</plist>